{{> head }}

<body>
{{> navbar }}
  
<div class="row"></div>

<div class="col-8">

<h1>Titulo1 MIMI</h1>
<p>
    eriossssssssssssssssssssssssssssssssssshhhhhhhrehquruuuuuuuunvjxvn m nb
</p>

</div>
<div class="col-4">
<img src="assets/img/fondo1.jpg" class="img img-thumbnail"
</div>



{{> footers }}

</body>

</html>
